.bg-img1 {
  background-color: #000;
  background-size: cover;
  background-image: url(https://msmobile.com.vn/upload_images/images/hinh-nen-dep-cho-may-tinh-full-hd-2.jpg);
}

.bg-img2 {
  background-color: #000;
  background-size: cover;
  background-image: url(http://4.bp.blogspot.com/-uL7yNj0-UV4/VJQLkpjnBhI/AAAAAAAAPsY/QNuEsabTK5w/s1600/hinh-nen-dream-world-dep-nhat-1.jpg);
}

.bg-img3 {
  background-color: #000;
  background-size: cover;
  background-image: url(https://i.pinimg.com/originals/88/23/57/88235763ca0ca2fa3a5478f390eeb313.jpg);
}

.carousel-item {
  height: 80vh;
}
